/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* H1 heading */
h1 {
  font-family: 'Roboto Mono', monospace;;
  font-size: 17rem;
}
/* Responsive Font Size */
@media screen and (max-width: 1060px) {
  h1 {
    font-size: 14rem;
  }
}
@media screen and (max-width: 960px) {
  h1 {
    font-size: 10rem;
  }
}
@media screen and (max-width: 700px) {
  h1 {
    font-size: 7rem;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 5rem;
  }
}
@media screen and (max-width: 380px) {
	h1 {
		font-size: 4rem;
	}
}
/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}
/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}
/*
 * Header
 */
.masthead {
  margin-bottom: 1rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.background-red {
  background-color: #852020
}

.background-blue {
  background-color: #202085;
}

.background-violet {
	background-color: #751075;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
